# Data Structures

## Questions

Exercise 1: Creating a List `fruits = ["apple", "banana", "cherry"]`

In [2]:
fruits = ["apple", "banana", "cherry"]
fruits

['apple', 'banana', 'cherry']

Exercise 2: Accessing List Elements `banana`

In [4]:
print(fruits[1])

banana

Exercise 3: Changing List Element `banana` with `blueberry`

In [5]:
fruits[1]='blueberry'
fruits

['apple', 'blueberry', 'cherry']

Exercise 4: Adding Elements to a List `orange`

In [8]:
fruits.append('orange')
fruits

['apple', 'blueberry', 'cherry', 'orange']

Exercise 5: Removing Element `blueberry` from a List

In [9]:
fruits.remove('blueberry')
fruits

['apple', 'cherry', 'orange']

Exercise 6: Creating a Tuple `coordinates = (4, 5)`

In [11]:
coordinates = (4, 5)
coordinates

(4, 5)

Exercise 7: Accessing Tuple Element `4`

In [12]:
coordinates[0]

4

Exercise 8: Tuple Immutability - Try to change Element `5` with `10`. It will raise an error.

In [13]:
coordinates[1]=10

TypeError: 'tuple' object does not support item assignment

Exercise 9: Creating a Set `numbers = {1, 2, 3, 4, 5}`

In [14]:
numbers = {1, 2, 3, 4, 5}
numbers

{1, 2, 3, 4, 5}

Exercise 10: Add `6` to a Set

In [15]:
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

Exercise 11: Creat a Frozenset from the previous set

In [18]:
fs = frozenset(numbers)
fs

frozenset({1, 2, 3, 4, 5, 6})

Exercise 12: Frozenset Immutability - Try to Add `7` to the new frozenset. It will raise an error.

In [19]:
fs.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

Exercise 13: Creating a Dictionary `fruit_colors = {"apple": "red", "banana": "yellow", "cherry": "red"}`

In [21]:
fruit_colors = {"apple": "red", "banana": "yellow", "cherry": "red"}
fruit_colors

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

Exercise 14: Accessing Dictionary Values. Print `apple` color

In [27]:

print(fruit_colors['apple'])

red

Exercise 15: Changing Dictionary Values. Replace the `apple` color to `green`

In [33]:
fruit_colors['apple']='green'
fruit_colors

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red'}

Exercise 16: Adding Key-Value Pairs to a Dictionary `'blueberry': 'blue'`

In [36]:
fruit_colors['blueberry']='blue'
fruit_colors

{'apple': 'green', 'banana': 'yellow', 'cherry': 'red', 'blueberry': 'blue'}

Exercise 17: Removing Key-Value Pairs from a Dictionary `'banana': 'yellow'`

In [41]:
del fruit_colors['banana']
fruit_colors

{'apple': 'green', 'cherry': 'red', 'blueberry': 'blue'}

Exercise 18: Creating a List of Lists (Matrix) `matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]`

In [50]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Exercise 19: Accessing Element `2` in a List of Lists

In [55]:
matrix[0][1]

2

Exercise 20: Changing Element `6` into 10

In [56]:
matrix[1][2]=10
matrix

[[1, 2, 3], [4, 5, 10], [7, 8, 9]]

Exercise 21: Creating a Range `0` to `10` and print it

In [59]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Exercise 22: Creating a Range  `0` to `10` with Step `2`

In [64]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

Exercise 23: Accessing Range Element `4`

In [66]:
a=list(range(0,11,2))
a[2]

4

Exercise 24: Using List Methods, use the list `fruits = ["apple", "cherry", "apple", "cherry", "apple"]` and count the number of times the string `apple` apears

In [67]:
fruits = ["apple", "cherry", "apple", "cherry", "apple"]
fruits.count("apple")

3

Exercise 25: Sorting the List in decending order

In [77]:
fruits.sort(reverse=True)
fruits

['cherry', 'cherry', 'apple', 'apple', 'apple']

Exercise 26: Reversing the List

In [78]:
fruits.reverse()
fruits

['apple', 'apple', 'apple', 'cherry', 'cherry']

Exercise 27: Joining a List of Strings - Create the string `apple, apple, apple, cherry, cherry` from the list `fruits`. save it to a variable called `fruit_string` and Print it

In [84]:
fruit_string = ", ".join(fruits)
print(fruit_string)

apple, apple, apple, cherry, cherry

Exercise 28: Splitting a String into a List - split the strinf `fruit_string` back into a list

In [86]:
fruits = fruit_string.split(", ")
print(fruits)

['apple', 'apple', 'apple', 'cherry', 'cherry']

Exercise 29: Using Dictionary Methods - Create a list from `fruit_colors` keys

In [89]:
list(fruit_colors.keys())

['apple', 'cherry', 'blueberry']

Exercise 30: Using Dictionary Methods - Create a list from `fruit_colors` values

In [90]:
list(fruit_colors.values())

['green', 'red', 'blue']