# Control Flow

## Questions

Exercise 1: if statement

Given an integer, `x=5`, write an `if` statement to print 'x is greater than 3.' if `x` is indeed greater than 3.

In [2]:
x=5
if x>3:
    print('x is greater than 3.')

x is greater than 3.

Exercise 2: if-else statement

Given an integer, `x=2`, write an `if-else` statement to print 'x is greater than 3.' if `x` is greater than 3, and 'x is not greater than 3.' otherwise.

In [3]:
x=2
if x>3:
    print('x is greater than 3.')
else:
    print('x is not greater than 3.')

x is not greater than 3.

Exercise 3: if-elif-else statement

Given an integer, `x=3`, write an `if-elif-else` statement to print 'x is less than 3.' if `x` is less than 3, 'x is 3.' if `x` is equal to 3, and 'x is greater than 3.' otherwise.

In [5]:
x=3
if x<3:
    print('x is less than 3.')
elif x==3:
    print('x is 3.')
else:
    print('x is greater than 3.')

x is 3.

Exercise 4: Nested if statement

Given two integers, `x=10` and `y=5`, write nested `if` statements (an `if` statement inside another `if` statement) to print 'x is greater than y and y is 5.' if `x` is indeed greater than `y` and `y` is indeed 5.

In [7]:
x=10
y=5
if x>y:
    if y==5:
        print('x is greater than y and y is 5.')

x is greater than y and y is 5.

Exercise 5: for loop

Print each item in the list `fruits = ['apple', 'banana', 'cherry']` using a `for` loop.

In [8]:
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    print(i)

apple
banana
cherry

Exercise 6: for loop over a string

Print each character of the string `s = 'Hello, world!'` using a `for` loop.

In [9]:
s = 'Hello, world!'
for i in s:
    print(i)

H
e
l
l
o
,

w
o
r
l
d
!

Exercise 7: for loop with break

Print each item in the list `fruits = ['apple', 'banana', 'cherry']` using a `for` loop, but stop the loop before it comes to 'banana'.

In [13]:
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    if i=='banana':
        break
    print(i)

apple

Exercise 8: for loop with continue

Print each item in the list `fruits = ['apple', 'banana', 'cherry']` using a `for` loop, but skip 'banana'.

In [14]:
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    if i=='banana':
        continue
    print(i)

apple
cherry

Exercise 9: for loop with range function

Print numbers from 0 to 5 using a `for` loop and the `range()` function.

In [18]:
for i in range(6):
    print(i)

0
1
2
3
4
5

Exercise 10: for loop with range function and step argument

Print every second number from 0 to 10 using a `for` loop and the `range()` function with a step argument.

In [2]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

Exercise 11: while loop

Print numbers from 1 to 5 using a `while` loop.

In [ ]:
x=1
while x<=5:
    print(x)
    x+=1

Exercise 12: while loop with break

Print numbers from 1 to 10 using a `while` loop, but stop the loop when the variable `i` is `5`.

In [ ]:
x=1
while x<=10:
    if x==5:
        break
    print(x)
    x+=1

Exercise 13: while loop with continue

Print numbers from 1 to 5 using a `while` loop, but skip the number 3.

In [2]:
x=1
while x<=5:
    if x==3:
       x+=1
       continue
    print(x)
    x+=1

1
2
4
5

Exercise 14: Pass Statement

Write a for loop that loops over the numbers from 1 to 10, but contains a pass statement for the processing of the number 5.

In [5]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

Exercise 15: Check if a number is in a list using the in keyword

Given a list `numbers = [1, 3, 5, 7]` and a number `n = 5`, print '5 is in the list' if 5 is indeed in the list `numbers`.

In [8]:
numbers = [1, 3, 5, 7]
for i in numbers:
    if i==5:
        print('5 is in the list')

5 is in the list

Exercise 16: Check if a number is not in a list using the not in keyword

Given a list `numbers = [1, 3, 5, 7]` and a number `n = 4`, print '4 is not in the list' if 4 is not in the list `numbers`.

In [11]:
if 4 not in numbers:
    print("4 is not in the list")

4 is not in the list

Exercise 17: Use any() function to check if any number in a list is greater than 10.

Given a list `numbers = [1, 3, 5, 7, 11, 13]`, use the `any()` function to check if any number in the list is greater than 10.

In [17]:
numbers = [1, 3, 5, 7, 11, 13]
any(n > 10 for n in numbers)

True

Exercise 18: Use all() function to check if all numbers in a list are greater than 0.

Given a list `numbers = [1, 3, 5, 7, 11, 13]`, use the `all()` function to check if all numbers in the list are greater than 0.

In [22]:
numbers = [1, 3, 5, 7, 11, 13]
all(n > 0 for n in numbers)

True

Exercise 19: Use enumerate() in a for loop to print the index and value of a list.

Given a list `fruits = ['apple', 'banana', 'cherry']`, use the `enumerate()` function in a `for` loop to print the index and value of each item in the list.

In [27]:
fruits = ['apple', 'banana', 'cherry']
for index,i in enumerate(fruits):
    print(f'Index: {index}, Value: {i}')

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

Exercise 20: Use zip() in a for loop to iterate over two lists simultaneously.

Given two lists `fruits = ['apple', 'banana', 'cherry']` and `colors = ['red', 'yellow', 'dark red']`, use the `zip()` function in a `for` loop to print each fruit and its color simultaneously.

In [32]:
fruits = ['apple', 'banana', 'cherry']
colors = ['red', 'yellow', 'dark red']
for i in zip(fruits,colors):
    print(f'fruits: {i[0]}, colors: {i[1]}')

fruits: apple, colors: red
fruits: banana, colors: yellow
fruits: cherry, colors: dark red

Exercise 21: Create a dictionary using dictionary comprehension where the keys are numbers between 1 and 5 (both included) and the values are the squares of the keys.

In [34]:
d = {i:i**2 for i in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Exercise 22: Create a dictionary using dictionary comprehension where the keys are numbers between 1 and 10 (both included) and the values are 'Even' for even numbers and 'Odd' for odd numbers.

In [40]:
d = {i: 'Even' if i%2==0 else 'Odd' for i in range(1,11)}
d

{1: 'Odd',
 2: 'Even',
 3: 'Odd',
 4: 'Even',
 5: 'Odd',
 6: 'Even',
 7: 'Odd',
 8: 'Even',
 9: 'Odd',
 10: 'Even'}

Exercise 23: Assign a variable 'x' a value of 5. Use a ternary operator to assign a variable 'y' a value of 'Greater than 2' if 'x' is greater than 2, else 'Not greater than 2'.

In [43]:
x=5
y= 'Greater than 2' if x>2 else 'Not greater than 2'
print(y)

Greater than 2

Exercise 24: Use a ternary operator to assign a variable 'y' a value of 'Positive' if 'x' is greater than 0, 'Zero' if 'x' is 0, and 'Negative' otherwise.

<b>Python has a `ternary` operator, which is a simpler form of an if-else statement. It's a one-liner if-else.</b>

In [46]:
x=-1
y= 'Positive' if x>0 else 'Negative' if x<0 else 'Zero'
print(y)

Negative