# Functions

## Questions

**Exercise 1: Define a simple function called 'greet' that prints 'Hello, world!' when called.**

In [8]:
def greet():
    print('Hello, world!')

**Exercise 2: Call the 'greet' function you defined.**

In [10]:
greet()

Hello, world!

**Exercise 3: Define a function 'add' that takes two parameters and returns their sum.**

In [11]:
def add(x,y):
    res=x+y
    print(res)

**Exercise 4: Call the 'add' function with 2 and 3 as arguments.**

In [12]:
add(2,3)

5

**Exercise 5: Modify the 'add' function to return 'Invalid Input' if any of the input parameters are not an integer or a float.**

In [32]:
def add(x,y):
    if isinstance(x,(int,float)) and isinstance(y,(int,float)):
        return x+y
    else:
        return 'Invalid Input'

In [33]:
add(1,'2')

'Invalid Input'

**Exercise 6: Define a function 'safe_divide' that takes two parameters and returns their division result. If division is not possible, it should return 'Invalid Operation'.**

In [54]:
def safe_divide(x,y):
    try:
        return x/y
    except ZeroDivisionError:
        print("Invalid Operation")
    except TypeError:
        print("Invalid Operation")

**Exercise 7: Call 'safe_divide' with 10 and 2, and then with 10 and 0.**

In [55]:
safe_divide(10,2)
safe_divide(10,0)

Invalid Operation

**Exercise 8: Create a function 'create_full_name' that takes two parameters - 'first_name' and 'last_name' (default value = 'Smith') - and returns the full name.**

In [56]:
def create_full_name(first_name,last_name='Smith'):
    return first_name+' '+last_name

**Exercise 9: Call 'create_full_name' with 'John' as the first_name. Then call it with 'John' as the first_name and 'Doe' as the last_name.**

In [60]:
create_full_name('John','Doe')

'John Doe'

**Exercise 10: Define a function 'sum_all' that takes any number of input parameters and returns their sum.**

In [69]:
def sum_all(*x):
    x=sum(x)
    return x

**Exercise 11: Call 'sum_all' with 1, 2, 3, 4, and 5 as inputs.**

In [70]:
sum_all(1,2,3,4,5)

15

**Exercise 12: Define a function 'key_value_pairs' that takes arbitrary keyword arguments and returns a dictionary of these arguments.**

In [77]:
def key_value_pairs(**kwargs):
    return kwargs

**Exercise 13: Call 'key_value_pairs' with 'name' = 'John' and 'age' = 25.**

In [78]:
key_value_pairs(name = 'John' , age = 25)

{'name': 'John', 'age': 25}

**Exercise 14: Declare a global variable 'x', set its value to 10. Then define a function 'modify_global_var' that changes the global 'x' to 20.**

In [98]:
x=10
def modify_global_var():
    global x
    x=20

**Exercise 15: Print the value of 'x', call 'modify_global_var', then print the value of 'x' again.**

In [99]:
print(x)
modify_global_var()
print(x)

10
20

**Exercise 16: Define a function 'raise_error' that raises an ValueError with the message 'An error has occurred'.**

In [110]:
def raise_error():
    raise ValueError("An error has occurred")

**Exercise 17: Define a function 'handle_error' that calls 'raise_error' in a try block and handles the ValueError in an except block by printing the error message.**

In [111]:
def handle_error():
    try:
        raise_error()
    except ValueError as e:
        print(e)

**Exercise 18: Call 'handle_error'.**

In [112]:
handle_error()

An error has occurred

**Exercise 19: Write a function divide_by_two that accepts a list of numbers and returns a new list where each number is divided by 2.**

In [114]:
def divide_by_two(x):
    return x/2

**Exercise 20: Write a function get_even_numbers that accepts a list of numbers and returns a new list containing only the even numbers from the input list.**

In [130]:
def get_even_numbers(x):
    return x%2==0

**Exercise 21: Write a function multiply_numbers that accepts a list of numbers and returns the product of all the numbers in the list.**

In [141]:
def multiply_numbers(x):
    s = 1
    for v in x:
        s = v * s
    return s

**Exercise 22: Call divide_by_two with the list [1, 2, 3, 4, 5].**

In [117]:
l=[1, 2, 3, 4, 5]
list(map(divide_by_two,l))

[0.5, 1.0, 1.5, 2.0, 2.5]

**Exercise 23: Call get_even_numbers with the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].**

In [131]:
l2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(get_even_numbers,l2))

[2, 4, 6, 8, 10]

**Exercise 24: Call multiply_numbers with the list [1, 2, 3, 4, 5].**

In [142]:
l3 = [1,2,3,4,5]
multiply_numbers(l3)

120

**Exercise 25: Modify multiply_numbers to return "Invalid Operation" if the list is empty.**

In [151]:
def multiply_numbers(x):
    s = 1
    if len(x)==0:
        print("Invalid Operation")
    else:
        for v in x:
            s = v * s
        return s

**Exercise 26: Call multiply_numbers with an empty list.**

In [155]:
l=[]
multiply_numbers(l)

Invalid Operation

**Exercise 27: Define a function calculate_operation that receives a list of tuples. Each tuple contains a string (can be "add", "subtract", "multiply", or "divide") and two integers. The function should return a list of results according to the operation of each tuple. For example: [("add", 2, 3), ("subtract", 5, 2), ("multiply", 2, 3)] should return [5, 3, 6].**

In [162]:
l= [("add", 2, 3), ("subtract", 5, 2), ("multiply", 2, 3)] 
l[0][0]

'add'

In [197]:
def calculate_operation(x):
    result=[]
    for v in x:
        if v[0]=='add':
            result.append(v[1]+v[2])
        elif v[0]=='subtract':
            result.append(v[1]-v[2])
        elif v[0]=='multiply':
            result.append(v[1]*v[2])
        else:
            result.append(v[1]/v[2])
    return result

In [198]:
l= [("add", 2, 3), ("subtract", 5, 2), ("multiply", 2, 3)] 
calculate_operation(l)

[5, 3, 6]

**Exercise 28: Create a function sum_of_squares that receives an integer n and returns the sum of the squares of all numbers from 1 to n. For example, if n = 3, it should return 14 because 1^2 + 2^2 + 3^2 = 14.**

In [216]:
def sum_of_squares(x):
    l=[]
    for v in range(1,x+1):
        l.append(v**2)
        s=sum(l)
    return s

In [217]:
sum_of_squares(3)

14


**Exercise 29: Create a function fibonacci that receives an integer n and returns the nth Fibonacci number. Fibonacci sequence is: 0, 1, 1, 2, 3, 5, 8, 13, ..., where each number is the sum of the two preceding ones. For example, if n = 7, it should return 8**

In [222]:
def fibonacci(x):
    l=[]
    for v in range(0,x):
        if v<2:
            l.append(v)
        else:
            l.append(l[v-2]+l[v-1])
    return max(l)

In [228]:
fibonacci(7)

8