# Control Flow
© Advanced Analytics, Amir Ben Haim, 2024

## if - elif - else

Conditional statements lets us to select a different action depending if a condition is true or false.

In [4]:
a = 11


if(a > 10):
    b = 12
elif(a < 6):
    b = 4
else:
    b = 2
    b = 4

b

12

In [5]:
# Why b equal 4 ??
# Because "b=4" isn't part of the "if/else" statement --> indentation!!!
a = 11


if(a > 10):
    b = 12
elif(a < 6):
    b = 4
else:
    b = 2
b = 4

b

4

In [10]:
# nested "if" statement

a = 13


if a < 8:
    print('a smaller then 8')
elif a < 15:
    if a > 12:
        print("a smaller then 15 nut bigger than 12")
else:
    print("a not smaller than 8 or 15")

a smaller then 15 nut bigger than 12

In [11]:
a = {'Chevrolet':150000,'Fiat':104300,'Mazda':114000,'Toyota':125000}
car = 'Ferrari'
if(car in a.keys()):
    print("The price of a %s is: %d NIS" % (car, a[car]))
else:
    print("%s is not in your list" % car)

Ferrari is not in your list

In [12]:
car = 'Fiat'
if(car in a.keys()):
    print("The price of a %s is: %d NIS" % (car, a[car]))
else:
    print("%s is not in your list" % car)

The price of a Fiat is: 104300 NIS

Some important points to remark:
- In Python, at the end of a condition we put a colon sign(':')
- After a colon we go to the next line and have to be sure there is an indentation (using four spaces)
- If we use an IDE or in Jupyter notebooks, the identation is made automatically
- In Python the <i>'else if'</i> is written as <i>'elif'</i>
- The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition"
- The else keyword catches anything which isn't caught by the preceding conditions
- You can also have an else without the elif

## for

In Python, the "for statement":

### for - list

In [1]:
a = [1, 2, 3, 4, 5]
for i in a:
     print(a[i-1])

1
2
3
4
5

Why The Next "for loop" has an error ?

In [13]:
# Error
a = [1, 2, 3, 4, 5]
for i in a:
     print(a[i])
#list index out of range

2
3
4
5

IndexError: list index out of range

In [ ]:
a = ["a","b","c",1,2,3]
for w in a:
    if(isinstance(w,int)):
        print("%d is an integer" % w)
    elif(isinstance(w,str)):
        print("%s is a string" % w)
    else:
        print("%s is of %s" % (w,type(w)))

The for statement iterates through the elements of the object 'a' and pass it to the 'w' variable.
The function <i>'isinstance'</i> permits to check the type of the element. However, it fails to recognize booleans,which are recognized as integers.
    
We can also use with 'for' the 'range()' function. It lets us generate a sequence of numbers. The first element will be the zero, and the last value before the value we gave to the range function.

In [15]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [16]:
# Something different happens here
a = [1, 2, 3, 4, 5]
for i in range(len(a)):
     print(a[i])
# i "runs" from 0 to 4

1
2
3
4
5

In [19]:
for j in range(0,10):
    print(j)

0
1
2
3
4
5
6
7
8
9

In [22]:
a = [10,2,3,4,56,7,8,9,11,2,22]
tot = 0
for i in a:
    tot += i
    # tot = tot + i -- same thing
print(tot)
print(len(a))
print(tot/len(a))

134
11
12.181818181818182

We can also specify from wich value we want to begin:

In [23]:
for i in range(5,10):
    print(i)

5
6
7
8
9

#### enumerate() fun

In [24]:
# enumerate()	Takes a collection (e.g. a tuple) and returns it as an enumerate object
l=[1,2,3,'a','b','c']
for i,v in enumerate(l):
    print(f'i is the index: {str(i)}')
    print(f'v is the value: {str(v)}')

i is the index: 0
v is the value: 1
i is the index: 1
v is the value: 2
i is the index: 2
v is the value: 3
i is the index: 3
v is the value: a
i is the index: 4
v is the value: b
i is the index: 5
v is the value: c

### for - dict

In [25]:
d = {'Python':1000,'Sql':500,'Pbi':200}
d

{'Python': 1000, 'Sql': 500, 'Pbi': 200}

In [ ]:
d.items()

In [29]:
for k,v in d.items():
    print(k,' is the key')
    print(v,' is the value')
    print('')

Python  is the key
1000  is the value

Sql  is the key
500  is the value

Pbi  is the key
200  is the value

In [30]:
# return as percentage

d = {'Python':1000,'Sql':500,'Pbi':200}
tot = sum(d.values())

for k,v in d.items():
    d[k] = round(d[k] / tot,2)

d

{'Python': 0.59, 'Sql': 0.29, 'Pbi': 0.12}

## while

The "while statement":

In [31]:
i = 10

while(i > 0):
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [32]:
i = 10

while(i > 0):

    if i == 4:
        break

    print(i)

    i -= 1
# The loop Stopped sooner because "break"

10
9
8
7
6
5

In [ ]:
i = 10

while(i > 0):

    if i == 4:
        i -= 1
        continue

    print(i)

    i -= 1

# The loop "skipped" value "4" because "continue"

## List Comprehension

 shorter syntax to create a new list based on the values of an existing list

In [7]:
Cars = ['Chevrolet','Fiat','Mazda','Toyota']
CoolCars = []

In [ ]:
CoolCars = [i for i in Cars if "o" in i]
# CoolCars = [expression for item in iterable if condition == True]
print(CoolCars)

In [ ]:
CoolCars = [i for i in Cars]
print(CoolCars)

In [ ]:
CoolCars = [i for i in Cars if i == "toyota"]
# Python strings are case sensitive -- Empyt List
print(CoolCars)

In [ ]:
CoolCars = [i.lower() for i in Cars]
# Set the values in the new list to lower case:
print(CoolCars)

### List Comprehension with "if" "else"

In [ ]:
CoolCars = [i if "o" in i else 'x' for i in Cars]
CoolCars

### List Comprehension with "elif"

We can’t use elif in list comprehension as we use in a normal code we have to convert it into fragments of if-else according to the condition requirement.

In [8]:
CoolCars = [i if "o" in i else i if 'M' in i else 'No "o" and No "M"' for i in Cars]
CoolCars

['Chevrolet', 'No "o" and No "M"', 'Mazda', 'Toyota']

## Dictionary Comprehension

 shorter syntax to create a new dict based on the values of an existing dict

In [2]:
d = {'Python':1000,'Sql':500,'Pbi':200}
d

{'Python': 1000, 'Sql': 500, 'Pbi': 200}

In [3]:
Tot = sum(d.values())

d_percentage = {k: round(v / Tot,2) for k, v in d.items()}
d_percentage

{'Python': 0.59, 'Sql': 0.29, 'Pbi': 0.12}

### Dictionary Comprehension with "if"

In [4]:
Tot = sum(d.values())

d_percentage_only_for_python = {k: round(v / Tot,2) for (k, v) in d.items() if k == 'Python'}
d_percentage_only_for_python

{'Python': 0.59}

### Dictionary Comprehension with "if" "else"

```python
{ (some_key if condition else default_key):(something_if_true if condition else something_if_false) for key, value in dict_.items() }
```

In [ ]:
Tot = sum(d.values())

d_percentage_only_for_python = { k :(round(v / Tot,2) if k == 'Python' else v) for k,v in d.items() }
d_percentage_only_for_python

In [5]:
Tot = sum(d.values())

d_percentage_only_for_python = { (k if k == 'Python' else k + ' - is not python key') : (round(v / Tot,2) if k == 'Python' else v) for k,v in d.items() }
d_percentage_only_for_python

{'Python': 0.59,
 'Sql - is not python key': 500,
 'Pbi - is not python key': 200}

## None

The "None" keyword is used to define a null value, or Blank value (no value at all).
<br>
None is not the same as 0, False, or an empty string. None is a data type of its own (NoneType) and only None can be None.

In [ ]:
x = None

if x == True:
    print("None = True")
elif x == False:
    print ("None = False")
elif x == None:
    print("None IS None !!!")