# Data Structures - Answers
Â© Advanced Analytics, Amir Ben Haim, 2024

<p style="font-size:24px;color:red">Don't use 'control flow' (loops, conditions etc)</p>

## Lists in Python

### Exercise 1

Create a list <code>l</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [ ]:
l = [1, 'hello', [1, 2, 3] , True]
l

### Exercise 2

Find the value stored at index 1 of <code>l</code>.

In [ ]:
l[1]

### Exercise 3

Retrieve the elements stored at index 1, 2 and 3 of <code>l</code>.

In [ ]:
l[1:4]

### Exercise 4

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [1]:
A = [1, 'a']
B = [2, 1, 'd']

A + B

[1, 'a', 2, 1, 'd']

### Exercise 5

Add the elements of list `B` to list `A`

In [2]:
A.extend(B)
A

[1, 'a', 2, 1, 'd']

### Exercise 6

Add the list `B` (as a list) to list `A`

In [3]:
A.append(B)
A

[1, 'a', 2, 1, 'd', [2, 1, 'd']]

### Exercise 7

Return the <u>second</u> 'd' from list `A`

In [ ]:
A[5][2]

### Exercise 8

Insert char 'w' after char 'a' to list `A`

In [ ]:
A.insert(2,'w')
A

### Exercise 9

Insert char 'w' after <u> the second</u> char 'd' to list `A`

In [ ]:
A[6].insert(3,'w')
A

## Tuples in Python

### Exercise 10

Consider the following tuple:

In [ ]:
# sample tuple

t = ("pop", "rock", "soul", "hard rock", "soft rock", \
     "R&B", "progressive rock", "disco")
t

### Exercise 11

Find the length of the tuple, <code>t</code>:

In [ ]:
len(t)

### Exercise 12

Access the element, with respect to index 3:

In [ ]:
t[3]

### Exercise 13

Use slicing to obtain indexes 3, 4 and 5:

In [ ]:
t[3:6]

### Exercise 14

Find the first two elements of the tuple <code>t</code>:

In [ ]:
t[0:2]

### Exercise 15

Find the first index of <code>"disco"</code>:

In [ ]:
t.index("disco")

### Exercise 16

Generate a sorted List from the Tuple <code>t2 = (-5, 1, -3)</code>:

In [ ]:
t2 = (-5, 1, -3)
t2

In [ ]:
t2_list = sorted(t2)
t2_list

Another way

In [ ]:
t2_list = list(t2)
t2_list.sort(reverse = False)
t2_list

## Pyton Dictionaries

### Exercise 17

The products <b>Shnitzel</b>, <b>Cafe</b> and <b>Hummus</b> have the following sales in millions 50, 50 and 65 respectively:
<br>
Create a dictionary <code>sales</code> where the keys are the products name and the sales in millions are the values.

In [1]:
sales = {"Shnitzel":50, "Cafe":50, "Hummus":65}
sales

{'Shnitzel': 50, 'Cafe': 50, 'Hummus': 65}

### Exercise 18

Use the dictionary to find the total sales of <b>Cafe</b>:

In [2]:
sales["Cafe"]

50

### Exercise 19

Find the names of the products from the dictionary using the method <code>keys</code>:

In [3]:
sales.keys()

dict_keys(['Shnitzel', 'Cafe', 'Hummus'])

### Exercise 20

Find the sales from the dictionary using the method <code>values</code>:

In [4]:
sales.values()

dict_values([50, 50, 65])

### Exercise 21

Add another product to the dic, "Hamburger" with sales of 80 million

In [5]:
sales['Hamburger'] = 80
sales

{'Shnitzel': 50, 'Cafe': 50, 'Hummus': 65, 'Hamburger': 80}

### Exercise 22

Create a dictionary from the lists below:<br>
`l = ['Python','Sql','PBI']`
<br>
`skill = ['beginner','expert','senior']`

In [ ]:
l = ['Python','Sql','PBI']
skill = ['beginner','expert','senior']
d = dict(zip(l,skill))
d

### Exercise 23

Retrieve the value for key 'java' from the dictionary in the previous exercise.<br>
If the key 'java' isn't one of the keys, return "'java' isn't one of the keys"

In [ ]:
d.get('java',"'java' isn't one of the keys")

### Exercise 24

 Given a dictionary where all values are unique, swap the keys and values.<br>
 For example, if the input dictionary is <code>{'a': 1, 'b': 2, 'c': 3}</code>, the output should be <code>{1: 'a', 2: 'b', 3: 'c'}</code>.

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}

# Swapping keys and values
swapped_d = dict(zip(d.values(), d.keys()))

swapped_d

## Python Sets

### Exercise 25

Consider the list: <code>A = [1, 2, 2, 1]</code>
<br>
and set <code>B = set([1, 2, 2, 1])</code>,
<br>
<br>
does <code>sum(A) = sum(B)</code>

In [ ]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])

print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

sum(A) == sum(B)

### Exercise 26

Convert the list <code>["Thriller", 'AC/DC', 'Back in Black']</code> to a set name `album_set1`

In [ ]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set1

### Exercise 27

Convert the list <code>[ "AC/DC", "Back in Black", "The Dark Side of the Moon"]</code> to a set name `album_set2`

In [ ]:
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set2

### Exercise 28

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>

In [ ]:
album_set3 =  album_set1 | album_set2

# another way

album_set3 = album_set1.union(album_set2)

album_set3

### Exercise 29

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:
<br>
Set A is said to be the subset of set B if all elements of A are in B

In [ ]:
album_set1 - album_set3  # -- True - cause gives you an empty set

Another way

In [ ]:
album_set1.issubset(album_set3)

## Python Range

### Exercise 30

Using `range` create a list from 1 to 10 - only even numbers

In [ ]:
list(range(0,11,2))[1:]