# Data Structures - Questions
Â© Advanced Analytics, Amir Ben Haim, 2024

<p style="font-size:24px;color:red">Don't use 'control flow' (loops, conditions etc)</p>

## Lists in Python

### Exercise 1

Create a list <code>l</code>, with the following elements <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> and <code>True</code>.

In [2]:
l=[1, 'hello', [1, 2, 3], True]
l

[1, 'hello', [1, 2, 3], True]

[1, 'hello', [1, 2, 3], True]

### Exercise 2

Find the value stored at index 1 of <code>l</code>.

In [4]:
l[1]

'hello'

### Exercise 3

Retrieve the elements stored at index 1, 2 and 3 of <code>l</code>.

In [7]:
l[1:4]

['hello', [1, 2, 3], True]

['hello', [1, 2, 3], True]

### Exercise 4

Concatenate the following lists <code>A = [1, 'a']</code> and <code>B = [2, 1, 'd']</code>:

In [26]:
A = [1, 'a']
B = [2, 1, 'd']
A+B

[1, 'a', 2, 1, 'd']

[1, 'a', 2, 1, 'd']

### Exercise 5

Add the elements of list `B` to list `A`

In [27]:
A.extend(B)
A

[1, 'a', 2, 1, 'd']

[1, 'a', 2, 1, 'd']

### Exercise 6

Add the list `B` (as a list) to list `A`

In [28]:
A.append(B)
A

[1, 'a', 2, 1, 'd', [2, 1, 'd']]

[1, 'a', 2, 1, 'd', [2, 1, 'd']]

### Exercise 7

Return the <u>second</u> 'd' from list `A`

In [10]:
C=A[-1][2]
C

'd'

### Exercise 8

Insert char 'w' after char 'a' to list `A`

In [29]:
A.insert(2,'w')
A

[1, 'a', 'w', 2, 1, 'd', [2, 1, 'd']]

[1, 'a', 'w', 2, 1, 'd', [2, 1, 'd']]

### Exercise 9

Insert char 'w' after <u> the second</u> char 'd' to list `A`

In [30]:
A[6].insert(4,'w')
A

[1, 'a', 'w', 2, 1, 'd', [2, 1, 'd', 'w']]

[1, 'a', 'w', 2, 1, 'd', [2, 1, 'd', 'w']]

## Tuples in Python

### Exercise 10

Consider the following tuple:

In [32]:
t=('pop', 'rock', 'soul', 'hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')
t

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

### Exercise 11

Find the length of the tuple, <code>t</code>:

In [34]:
len(t)

8

8

### Exercise 12

Access the element, with respect to index 3:

In [36]:
t[3]

'hard rock'

### Exercise 13

Use slicing to obtain indexes 3, 4 and 5:

In [37]:
t[3:6]

('hard rock', 'soft rock', 'R&B')

('hard rock', 'soft rock', 'R&B')

### Exercise 14

Find the first two elements of the tuple <code>t</code>:

In [39]:
t[0:2]

('pop', 'rock')

('pop', 'rock')

### Exercise 15

Find the first index of <code>"disco"</code>:

In [40]:
t.index("disco")

7

7

### Exercise 16

Generate a sorted List from the Tuple <code>t2 = (-5, 1, -3)</code>:

In [46]:
t2 = (-5, 1, -3)
tuple(sorted(t2, reverse=False))

(-5, -3, 1)

[-5, -3, 1]

## Pyton Dictionaries

### Exercise 17

The products <b>Shnitzel</b>, <b>Cafe</b> and <b>Hummus</b> have the following sales in millions 50, 50 and 65 respectively:
<br>
Create a dictionary <code>sales</code> where the keys are the products name and the sales in millions are the values.

In [50]:
b={'Shnitzel':50,'Cafe':50,'Hummus':65}
b

{'Shnitzel': 50, 'Cafe': 50, 'Hummus': 65}

{'Shnitzel': 50, 'Cafe': 50, 'Hummus': 65}

### Exercise 18

Use the dictionary to find the total sales of <b>Cafe</b>:

In [51]:
b['Cafe']

50

50

### Exercise 19

Find the names of the products from the dictionary using the method <code>keys</code>:

In [52]:
b.keys()

dict_keys(['Shnitzel', 'Cafe', 'Hummus'])

dict_keys(['Shnitzel', 'Cafe', 'Hummus'])

### Exercise 20

Find the sales from the dictionary using the method <code>values</code>:

In [54]:
b.values()

dict_values([50, 50, 65])

dict_values([50, 50, 65])

### Exercise 21

Add another product to the dic, "Hamburger" with sales of 80 million

In [55]:
b['Hamburger'] = 80
b

{'Shnitzel': 50, 'Cafe': 50, 'Hummus': 65, 'Hamburger': 80}

{'Shnitzel': 50, 'Cafe': 50, 'Hummus': 65, 'Hamburger': 80}

### Exercise 22

Create a dictionary from the lists below:<br>
`l = ['Python','Sql','PBI']`
<br>
`skill = ['beginner','expert','senior']`

In [56]:
l = ['Python','Sql','PBI']
skill = ['beginner','expert','senior']

In [64]:
d = dict(zip(l, skill))
d

{'Python': 'beginner', 'Sql': 'expert', 'PBI': 'senior'}

### Exercise 23

Retrieve the value for key 'java' from the dictionary in the previous exercise.<br>
If the key 'java' isn't one of the keys, return "'java' isn't one of the keys"

In [65]:
value = d.get('java', "'java' isn't one of the keys")
print(value)

'java' isn't one of the keys

"'java' isn't one of the keys"

### Exercise 24

 Given a dictionary where all values are unique, swap the keys and values.<br>
 For example, if the input dictionary is <code>{'a': 1, 'b': 2, 'c': 3}</code>, the output should be <code>{1: 'a', 2: 'b', 3: 'c'}</code>.

In [72]:
c = {'a': 1, 'b': 2, 'c': 3}
d = dict(zip(c.values(),c.keys()))
d

{1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

## Python Sets

### Exercise 25

Consider the list: <code>A = [1, 2, 2, 1]</code>
<br>
and set <code>B = set([1, 2, 2, 1])</code>,
<br>
<br>
does <code>sum(A) = sum(B)</code>

In [78]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
len(A)==len(B)

False

the sum of A is: 6
the sum of B is: 3

False

### Exercise 26

Convert the list <code>["Thriller", 'AC/DC', 'Back in Black']</code> to a set name `album_set1`

In [90]:
album_set1=set(["Thriller", 'AC/DC', 'Back in Black'])
album_set1

{'AC/DC', 'Back in Black', 'Thriller'}

{'AC/DC', 'Back in Black', 'Thriller'}

### Exercise 27

Convert the list <code>[ "AC/DC", "Back in Black", "The Dark Side of the Moon"]</code> to a set name `album_set2`

In [91]:
album_set2=set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set2

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon'}

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon'}

### Exercise 28

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>

In [92]:
album_set3=album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

### Exercise 29

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:
<br>
Set A is said to be the subset of set B if all elements of A are in B

In [96]:
album_set1 & album_set3-album_set1

set()

set()

Another way

In [ ]:
album_set1 & album_set3==album_set1

True

## Python Range

### Exercise 30

Using `range` create a list from 1 to 10 - only even numbers

In [100]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]