# Files - Questions

Â© Advanced Analytics, Amir Ben Haim, 2024

## Files - Python

### Exercise 1

- Using the `with open()` Statement create a txt file
- Name the file 'test.txt'
- The file should include the next line: "working with files"

In [107]:
with open("test.txt", "w+") as file:
    file.write("working with files")
    file.seek(0)
    print(file.read())

working with files

In [90]:
file2 = open('test.txt','w+')
file2.write('working with files')
file2.seek(0)
print(file2.read())

working with files

### Exercise 2

Print the content of the file   BUT  starts from word 'with' --> the outcome should be "with files".
<br><b> Hint: Find the right position of the cursor using `.find()` method</b>

In [108]:
with open("test.txt") as file:
    content = file.read()
    position = content.find("with")
    print(position)
    file.seek(position)
    print(file.read())

8
with files

### Exercise 3

Print the content of the file, all of it

In [92]:
with open('test.txt') as file:
    file.seek(0)
    print(file.read())

working with files

### Exercise 4

Find the location of your Notebook

In [77]:
pwd

'C:\\Users\\itaig\\Desktop\\pyt'

### Exercise 5

Add to the file the sentence "I also work with Python", the new sentence should be in a new line, print the content of the file

In [110]:
with open('test.txt', '+a') as file:
    file.write('\nI also work with Python')
    file.seek(0)
    print(file.read())

working with files
I also work with Python

### Exercise 6

If a line in the file has the word 'Python', than change the line to 'We're all working with Python'.
<br>Print the content of the file before the change and after the change

In [132]:
with open('test.txt') as file:
    print('Before the change \n-----------------')
    print(file.read())
    print('\n')

print('After the change \n-----------------')
with open("test.txt") as file:
    for line in file:
        if "Python" not in line:
            print(line)
        else:
            print("We're all working with Python")

Before the change
-----------------
working with files
I also work with Python


After the change
-----------------
working with files

We're all working with Python

<br></br>
## Files - Pandas

### Exercise 7

Import Pandas

In [133]:
import pandas as pd

### Exercise 8

Create a 'data.csv' file from the dictionary below:

```python
data = {
    'id': range(1, 11),
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'country': ['USA', 'UK', 'Canada', 'Australia', 'Germany', 'France', 'Italy', 'Spain', 'Portugal', 'Netherlands']
}
```

In [135]:
data = {
    'id': range(1, 11),
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'country': ['USA', 'UK', 'Canada', 'Australia', 'Germany', 'France', 'Italy', 'Spain', 'Portugal', 'Netherlands']
}

In [136]:
df = pd.DataFrame(data)
df

   id     name  age      country
0   1    Alice   25          USA
1   2      Bob   30           UK
2   3  Charlie   35       Canada
3   4    David   40    Australia
4   5     Ella   45      Germany
5   6    Frank   50       France
6   7    Grace   55        Italy
7   8   Hannah   60        Spain
8   9      Ian   65     Portugal
9  10     Jane   70  Netherlands

In [137]:
df.to_csv('data.csv')

### Exercise 9

Load 'data.csv' file to a DataFrame.
<br>But skip the first 3 rows, the index column should be the default one (Google the solution).
<br><b><u>Notice!!! Don't load the entire file then make the changes above, load directly as instructed above</u></b>

In [141]:
df = pd.read_csv("data.csv", index_col=0, skiprows=range(1, 4))
df

   id    name  age      country
3   4   David   40    Australia
4   5    Ella   45      Germany
5   6   Frank   50       France
6   7   Grace   55        Italy
7   8  Hannah   60        Spain
8   9     Ian   65     Portugal
9  10    Jane   70  Netherlands

### Exercise 10

Load the 'data.csv' file to a DataFrame.
<br>But load only columns 'id' and 'country', the 'name' column should be the index (Google the solution).
<br><b><u>Notice!!! Don't load the entire file then make the changes above, load directly as instructed above</u></b>

In [143]:
df = pd.read_csv("data.csv",usecols=["id", "name", "country"],index_col="name")

df

         id      country
name
Alice     1          USA
Bob       2           UK
Charlie   3       Canada
David     4    Australia
Ella      5      Germany
Frank     6       France
Grace     7        Italy
Hannah    8        Spain
Ian       9     Portugal
Jane     10  Netherlands

### Exercise 11

Create a json file 'data.json' from the 'data.csv'

In [144]:
df.to_json('data.json')

### Exercise 12

Delete the files 'data.json', 'data.csv' and 'test.txt'

In [ ]:
import os

os.remove("test.txt")
os.remove("data.csv")
os.remove("data.json")