# Functions

Â© Advanced Analytics, Amir Ben Haim, 2024

## Functions in Python

In Pyhton, funcions are defined by the <i>'def <function_name>()'</i> function:

In [5]:
def bmi(weight, height):
    res = weight / (height ** 2)
    return(res)

In [6]:
bmi(75,1.80)

23.148148148148145

In [3]:
# Error
bmi(75)

TypeError: bmi() missing 1 required positional argument: 'height'

Another way to send args (arguments)

In [4]:
bmi(height = 1.80, weight = 75)

23.148148148148145

In [ ]:
# default parameter
def bmi_2(weight, height=1.80):
    res = weight / (height ** 2)
    return(res)

In [ ]:
bmi_2(75)

In [ ]:
bmi_2(75,1.90)

Another example of a function is the following:

In [ ]:
x = [1,2,3,4,5]
x

In [ ]:
x**2

In [ ]:
6**2

In [58]:
def square(l):
    res = []
    
    for v in l:
        res.append(v**2)
    
    return(res)

In [59]:
x = [1,2,3,4,5]


square(x)

[1, 4, 9, 16, 25]

In [ ]:
x

In [ ]:
new_x = square(x)
new_x

In [ ]:
square([80])

We can also define this function in a different way:

In [ ]:
def square2(x):
    res = [i**2 for i in x]
    return(res)

In [ ]:
x = [1,2,3,4,5]
square2(x)

## "Return" is different then "Print"

In [11]:
def num_2(x,y):
    res = x * y
    print(res)

In [12]:
num_2(2,3)

6

In [13]:
def num_2_2(x,y):
    res = x * y
    return(res)

In [14]:
num_2_2(2,3)

6

In [15]:
x = num_2(2,3)
x

6

In [16]:
type(x)

NoneType

In [17]:
# Error
x * 9

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [18]:
y = num_2_2(2,3)
y

6

In [19]:
y * 9

54

## Variable Scope

In [ ]:
def add(n1,n2):
    r = n1 * n2
    return(r)

In [ ]:
# Error
n1

In [ ]:
# Error
r

In [ ]:
add(5,6)

In [ ]:
# Still an Error
n1

## Function can Return More than One Value

In [ ]:
def ranging(x):
    l = []
    
    while x >= 0:
        l.append(x)
        x -= 1
    
    return l

In [ ]:
ranging(5)

## Arbitrary Arguments, *args
Not sure how many arguments that will be passed into your function, add a * before the parameter<br>
The function will receive a tuple of arguments

In [31]:
def the_biggest_num_one_arg(num):
    x=max(num)
    print(x)

In [32]:
# Error
the_biggest_num_one_arg(5,6,7,8,9)
# The function expects only one arg

TypeError: the_biggest_num_one_arg() takes 1 positional argument but 5 were given

In [34]:
# How can we use "the_biggest_num_one_arg" function with multiple arg ??
# We can put the args in a tupple
the_biggest_num_one_arg((5,6,7,8,9))

9

In [35]:
def the_biggest_num(*num):
    x=max(num)
    print(x)

In [36]:
the_biggest_num(5,6,7,8,9)

9

In [ ]:
def show_me_the_tupple(*num):
    return(num)

show_me_the_tupple(5,6,7,8,9,'a','b','c',("I am a ",'tupple'))
# "num" is a tupple

In [ ]:
t = show_me_the_tupple(5,6,7,8,9,'a','b','c')
type(t)

## keyword arguments ,**kwargs
A special syntax that allows you to pass a keyworded, variable-length argument dictionary to a function

In [37]:
# Using Keywords
def the_biggest_num2(**num):
    x=num["big"]
    print('this is the biggest num ' + str(x))

the_biggest_num2(small=5,medium=6,big=7)

this is the biggest num 7

In [ ]:
# Using Keywords
def the_biggest_num2(**num):
    print(num)

the_biggest_num2(small=5,medium=6,big=7)
# "num" is a dictionary

In [38]:
# Using Keywords
def greet(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

greet(name="Alice", greeting="Hello")

name: Alice
greeting: Hello

In [40]:
# Using Keywords
def create_profile(name, age=30, **kwargs):
    profile = {'name': name, 'age': age}
    profile.update(kwargs)
    return profile


profile1 = create_profile("Alice")
profile2 = create_profile("Bob", age=40, location="New York", occupation="Engineer")

print(profile1)
print(profile2)

{'name': 'Alice', 'age': 30}
{'name': 'Bob', 'age': 40, 'location': 'New York', 'occupation': 'Engineer'}

## Map ()
In this code, we tell the for loop to take each element of x and apply the previous operation to it <br>
The <i><b><u>map()</u></b> </i> function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

In [41]:
def square(x):
    return x**2

In [42]:
# Works Greate!
square(9)

81

In [43]:
# But if we wanted to use the function with let's say a list
# Error
l = [1,2,3,4]

square(l)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [44]:
# Here comes "MAP"!
res = map(square, l)
res
# What the F... ?!

In [24]:
type(res)

map

In [45]:
l

[1, 2, 3, 4]

In [46]:
# Here comes "MAP"!
res = map(square, l)
list(res)

[1, 4, 9, 16]

In [47]:
#convert the map into a list, for readability:
print(list(res))

[]

In [48]:
# "l" didn't changed
l
# That means we are getting a new object

[1, 2, 3, 4]

In [49]:
# that is the reason we can use it also on tupple (= Inmmutable)
t = (1,2,3,4)
map(square,t)

In [50]:
list(map(square,t))

[1, 4, 9, 16]

## Lambda Functions

Lambda functions are intended as a shorthand for defining functions that can come in handy to write concise code without wasting multiple lines defining a function.
<br>
They are also known as anonymous functions, since they do not have a name unless assigned one.

In [ ]:
# Anonymous
# defining lambda function without assigning a name to the function
lambda x: x + 10

# left side --> parameter
# write side --> expression

In [51]:
# Anonymous
# Activating lambda function on the int 30
(lambda x: x + 10)(30)

40

In [52]:
# Assigning a name to the lambda function
y = lambda x: x + 10

In [53]:
y

In [54]:
y(30)

40

In [ ]:
# We can also do the same with "udf"
# But we have to give it a name
def increase10(x):
    return x + 10

In [ ]:
increase10(30)

### When Should You Use a Lambda Function?
You should use the lambda function to create simple expressions. For example, expressions that do not include complex structures such as if-else, for-loops, and so on.

So, for example, if you want to create a function with a for-loop, you should use a user-defined function.

### How to Use a Lambda Function with Iterables
An iterable is essentially anything that consists of a series of values, such as characters, numbers, and so on.

In Python, iterables include strings, lists, dictionaries, ranges, tuples, and so on. When working with iterables, you can use lambda functions in conjunction with two common functions: filter() and map().

In [55]:
l = list(range(1,201))
l[0:3]

[1, 2, 3]

In [56]:
# Anonymous
filter(lambda x: x % 2 == 0, l)

In [57]:
l_zugi = list(filter(lambda x: x % 2 == 0, l))
l_zugi[0:3]

[2, 4, 6]

In [ ]:
# Anonymous
l_power = list(map(lambda x: x**2, l))
l_power[0:3]

## Error manipulation in Python functions

Python, have some ways to prevent the interuption of running a function or to give the user a customized message when an errors occur.

One of the ways is the use of the <i><b><u> try ... except</u></b> </i> commands:
<br>
<br>
Notice, Built-in Exceptions:
<br>
"ZeroDivisionError"
<br>
"TypeError"
<br>
More Buit-in Exceptions ?<br>
https://docs.python.org/3/library/exceptions.html

In [8]:
isinstance(5, int)

True

In [ ]:
def bmi(weight, height):
    
    if (not isinstance(height, float)):
        print('''Did you mean %f ? Please enter the height in meters and not in centimeters.''' % (float(height)/100))
    
    else:
        res = weight / height**2
    
        return(res)

In [ ]:
bmi(78,1.80)

In [ ]:
bmi(78,180)

In [ ]:
# Error
bmi(78,0.0)

In [ ]:
# Error
bmi('a',1.89)

In [6]:
def bmi(weight, height):
    
    
    try:
        if(not  isinstance(height, float)):
            print('''Did you mean %f ? Please enter the height in meters and not in centimeters.''' % (float(height)/100))
        else:
            res = weight / height**2
            return(res)
    
    
    
    
    except ZeroDivisionError:
        print("Please give a height different of zero")
    except TypeError:
        print("Please enter only numeric value")
    except:
        print("An unexpected error ocurred!")

In [2]:
bmi(78,1.80)

24.074074074074073

In [10]:
bmi(78,180)

Did you mean 1.800000 ? Please enter the height in meters and not in centimeters.

In [9]:
bmi(78,0.0)

Please give a height different of zero

In [7]:
bmi('a',1.89)

Please enter only numeric value