# Pandas 3
Â© Advanced Analytics, Amir Ben Haim, 2024

## Grouping Data

### Exercise 1

Import pandas under the name `pd`.

In [1]:
import pandas as pd

### Exercise 2

Create the folowing df

```python
df = pd.DataFrame({ 'Fruit': ['Apple','Banna','Grapes','Grapes','Grapes','Apple', 'Banna', 'Apple'],
                     'FruitColor': ['Green', 'Yellow', 'Green','Green','Red','Green', 'Yellow', 'Red'],
                     'Sold': [9,11,8,9,8,8,10,8],
                     'InStock' : [8,10,9,9,8,10,11,11]
                   })
df
```

In [3]:
df = pd.DataFrame({ 'Fruit': ['Apple','Banna','Grapes','Grapes','Grapes','Apple', 'Banna', 'Apple'],
                     'FruitColor': ['Green', 'Yellow', 'Green','Green','Red','Green', 'Yellow', 'Red'],
                     'Sold': [9,11,8,9,8,8,10,8],
                     'InStock' : [8,10,9,9,8,10,11,11]
                   })
df

    Fruit FruitColor  Sold  InStock
0   Apple      Green     9        8
1   Banna     Yellow    11       10
2  Grapes      Green     8        9
3  Grapes      Green     9        9
4  Grapes        Red     8        8
5   Apple      Green     8       10
6   Banna     Yellow    10       11
7   Apple        Red     8       11

### Exercise 3

Group by `Fruit` column and create `DataFrameGroupBy`

In [5]:
grouped=df.groupby('Fruit')
grouped

### Exercise 4

Count each row per `Fruit` column (Keep `Fruit` column as the index)

In [17]:
grouped.size()

Fruit
Apple     3
Banna     2
Grapes    3
dtype: int64

### Exercise 5

Count each row per `Fruit` column (Keep `Fruit` column as a REGULAR column)

In [19]:
df.groupby('Fruit', as_index=False).Fruit.size()

    Fruit  size
0   Apple     3
1   Banna     2
2  Grapes     3

### Exercise 6

Sum columns `'Sold','InStock'` per `Fruit` column (Keep `Fruit` column as the index)

In [20]:
grouped[['Sold','InStock']].sum()

        Sold  InStock
Fruit
Apple     25       29
Banna     21       21
Grapes    25       26

### Exercise 7

Group by `Fruit` and `FruitColor` columns, calculate 2 colums (`Sold` & `InStock`) with `sum` function (Keep `Fruit` and `FruitColor` columns as a REGULAR columns)

In [23]:
df.groupby(['Fruit','FruitColor'], as_index=False)[['Sold','InStock']].sum()

    Fruit FruitColor  Sold  InStock
0   Apple      Green    17       18
1   Apple        Red     8       11
2   Banna     Yellow    21       21
3  Grapes      Green    17       18
4  Grapes        Red     8        8

### Exercise 8

Group by Fruit and FruitColor columns, calculate 2 colums (Sold & InStock) with "sum" and "mean" functions

Group by `Fruit` and `FruitColor` columns, calculate 2 colums:

- `Sold` with `sum` and `mean` functions
- `InStock` with `min` and `max` functions

(Keep `Fruit` and `FruitColor` columns as a REGULAR columns)

In [26]:
g = df.groupby(['Fruit','FruitColor'], as_index=False).agg({'Sold':['sum','mean'],'InStock':['min','max']})
g

    Fruit FruitColor Sold       InStock
                      sum  mean     min max
0   Apple      Green   17   8.5       8  10
1   Apple        Red    8   8.0      11  11
2   Banna     Yellow   21  10.5      10  11
3  Grapes      Green   17   8.5       9   9
4  Grapes        Red    8   8.0       8   8

### Exercise 9

Flatten the columns from the df output of the previous exercise (exercise 8)

In [29]:
g.columns

Index(['Fruit_', 'FruitColor_', 'Sold_sum', 'Sold_mean', 'InStock_min',
       'InStock_max'],
      dtype='object')

In [27]:
list(g.columns)

[('Fruit', ''),
 ('FruitColor', ''),
 ('Sold', 'sum'),
 ('Sold', 'mean'),
 ('InStock', 'min'),
 ('InStock', 'max')]

In [28]:
g.columns = [  f'{v[0]}_{v[1]}'   for v in  list(g.columns)    ]
g

   Fruit_ FruitColor_  Sold_sum  Sold_mean  InStock_min  InStock_max
0   Apple       Green        17        8.5            8           10
1   Apple         Red         8        8.0           11           11
2   Banna      Yellow        21       10.5           10           11
3  Grapes       Green        17        8.5            9            9
4  Grapes         Red         8        8.0            8            8