# Variables & Data Types
Â© Advanced Analytics, Amir Ben Haim, 2024

## Execise 1

In the code cell below, use the <code>print()</code> function to print out the phrase: <code>Hello, world!</code>

In [1]:
print("Hello, world!")

Hello, world!

Hello, world!

## Execise 2

In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code

In [50]:
print("Hello, world!") #Print the traditional hello world

Hello, world!

Hello, world!

## Execise 3

In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>

In [3]:
type(12.0)

float

float

## Execise 4

What is the data type of the result of: <code>6 / 2</code>?

In [5]:
type(6/2)

float

float

## Execise 5

What is the type of the result of: <code>6 // 2</code>? (Note the double slash <code>//</code>.)

In [7]:
type(6//2)

int

## Execise 6

Let's write an expression that calculates how many hours there are in 160 minutes:

In [10]:
a=160/60
a

2.6666666666666665

2.6666666666666665

## Execise 7

Format the result above to only 2 decimal numbers

In [51]:
f'{a:.2f}'

'2.67'

'2.67'

## Execise 8

What is the value of <code>x</code> where <code>x = 3 + 2 * 2</code>

In [26]:
x=3+2*2
x

7

7

## Execise 9

What is the value of <code>y</code> where <code>y = (3 + 2) * 2</code>?

In [27]:
y=(3+2)*2
y

10

10

## Execise 10

In [28]:
z=x+y
z

17

What is the value of <code>z</code> where <code>z = x + y</code>?

17

## Execise 11

What is the value of the variable <code>A = "1"</code>?

In [30]:
A="1"
A

'1'

'1'

## Execise 12

What is the value of the variable <code>B = 2</code>?

In [31]:
B=2
B

2

2

## Execise 13

Use the variables <code>A</code> and <code>B</code> to create <code>12</code> (as an int!)

In [34]:
int(A+str(B))

12

12

## Execise 14

Consider the variable <code>D = "ABCDEFG"</code> use slicing to print out the first three elements:

In [37]:
D = "ABCDEFG"
D[0:3]

'ABC'

ABC

## Execise 15

Use a stride value of 2 to print out every second character of the string <code>E = 'clocrkr1e1c1t'</code>:

In [42]:
E = 'clocrkr1e1c1t'
E[0::2]

'correct'

correct

## Execise 16

Print out a backslash:

In [45]:
print('\\')

\

## Execise 17

Convert the variable <code>F = "You are wrong"</code> to uppercase:

In [49]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

YOU ARE WRONG

## Execise 18

Consider the variable <code>G</code>, and find the first index of the sub-string <code>snow</code>:
```python
G = '''Mary had a little lamb Little lamb, little lamb Mary had a little lamb
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went
Everywhere that Mary went The lamb was sure to go'''
```

In [65]:
G = '''Mary had a little lamb Little lamb, little lamb Mary had a little lamb
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went
Everywhere that Mary went The lamb was sure to go'''

NameError: name 'snow' is not defined

95

## Execise 19

In the variable <code>G</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb\nIts fleece was white as snow And everywhere that Bob went Bob went, Bob went\nEverywhere that Bob went The lamb was sure to go'

## Execise 20

Create a string variable `s` containing the word `"Ha"`. Multiply this string by `10` and assign it to a variable named `laugh`. Print `laugh`.

HaHaHaHaHaHaHaHaHaHa

## Execise 21

Given the string `phrase = "Data Science with Python"`, extract the substrings `"Data"`, `"Science"`, and `"Python"`. Concatenate them into a new string separated by hyphens (`-`) and assign it to a variable named `new_phrase`. Print `new_phrase`.

Data-Science-Python

## Execise 22

Assign `True` to variables `p` and `q`. Compute the logical expression `not p or q` and assign the result to a variable named `result`. Print `result`.

True

## Execise 23

String Formatting with f-Strings

Given the variables `name = "Bob"` and `balance = 53.44`, use an f-string to print the sentence:

"Hello Bob, your current balance is $53.44."

Hello Bob, your current balance is $53.44.

## Execise 24

Using String Methods

Given the string `text = "   Hello, World!   "`, remove the leading and trailing whitespace, convert it to uppercase, and replace the exclamation mark with a period. Assign the final string to a variable named `modified_text` and print it.

HELLO, WORLD.

## Execise 25

Advanced String Formatting

Format the number `number = 1234567.8910` to include commas as thousands separators and display two decimal places. Assign the formatted string to a variable named `formatted_number` and print it.

1,234,567.89