# Variables & Data Types
Â© Advanced Analytics, Amir Ben Haim, 2024

<br></br>

## Simple Built in Data types

Python uses common data types found in many other programming languages:

- Integers
- Floats
- Strings
- Booleans
- NoneType

We assign values to variables in the following way:

In [ ]:
# int
a = 5
a

In [ ]:
# int
b = 2
b

In [ ]:
# Float
k = 6.52
k

In [ ]:
# Float
e = 6.0
e

In [18]:
# string
c = 'abc'
c

'abc'

In [ ]:
# string
n = '100'
n

In [ ]:
# bool
d = False
d

In [ ]:
# bool
f = True
f

<p style="font-size:20px">Python is case sensitive</p>

In [ ]:
# Error
f = true

In [ ]:
# NoneType
u = None

<br></br>

## Arithmetic Operators

In [4]:
print(a)
print(b)

5
2

In [5]:
a + b

7

In [6]:
a - b

3

In [7]:
a * b

10

In [8]:
a ** b

25

In [9]:
a / b

2.5

In [10]:
a // b

2

In [11]:
a % b

1

In [12]:
4 % 2

0

<br></br>

## Comparison Operators

In [ ]:
print(a)
print(b)

<p style="font-size:20px">Notice the double equal sign <code>==</code></p>

In [13]:
a == b

False

In [14]:
a != b

True

In [15]:
a > b

True

In [16]:
a >= b

True

In [17]:
a < b

False

In [ ]:
a <= b

<br></br>

## Casting

In Python we can not make operations in mixed data types. For example:

a + c will generate an error because a is an integer and c is a string.

In [19]:
print(a)
print(c)

5
abc

In [20]:
# Error
a + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

We can check the data type of a variable using the type() function:

In [21]:
type(a)

int

In [22]:
type(c)

str

We can change `a` to a string

In [23]:
str(a) + c

'5abc'

Here we have concatenated the two strings.
<br>The plus sign has different consequences depending of the data type.

In [24]:
'1' + '2'

'12'

As opposed to

In [25]:
1 + 2

3

Changing float to int

In [26]:
k

6.52

In [27]:
int(k)

6

Changing int to float

In [ ]:
a

In [28]:
float(a)

5.0

Chabging bool to int

In [29]:
type(False)

bool

In [30]:
type(True)

bool

In [31]:
False + True

1

In [32]:
int(False)

0

In [33]:
int(True)

1

<br></br>

## Strings

### Strings Quotes

Strings in Python could be defined using:

-   single quotes
-   double quotes
-   triple single quotes
-   triple double quotes

In [34]:
'Hello world'

'Hello world'

In [35]:
print('Hello world')

Hello world

In [36]:
"Hello world"

'Hello world'

In [37]:
print("Hello world")

Hello world

In [38]:
'''Hello world'''

'Hello world'

In [39]:
print('''Hello world''')

Hello world

In [40]:
"""Hello world"""

'Hello world'

In [41]:
print("""Hello world""")

Hello world

<br>
Why using the <u>single quotes</u> ?
<br><b>So we can integrate double quotes as part of the string</b>

In [42]:
# Using single quotes
'I "love" Python'

'I "love" Python'

In [ ]:
# Error
# using double quotes
"I "love" Python"

<br>
Why using the <u>double quotes</u> ?
<br><b>So we can integrate single quotes as part of the string</b>

In [43]:
# Using double quotes
"I'm a person"

"I'm a person"

In [44]:
# Error
# Using single quotes
'I'm a person'

SyntaxError: unterminated string literal (detected at line 3) (256598897.py, line 3)

<br>
The advantage of the <u>triple single quotes</u> is that it permits to create multi-line strings

In [45]:
s = '''Hello, my name is Gal.
My shoes are green.
My pants are blue.'''

s

'Hello, my name is Gal.\nMy shoes are green.\nMy pants are blue.'

In [46]:
print(s)

Hello, my name is Gal.
My shoes are green.
My pants are blue.

In [ ]:
# Error
s = 'Hello, my name is Gal.
My shoes are green.
My pants are blue.'

s

<br>
Also posible with triple double quotes

In [47]:
s = """Hello, my name is Gal.
My shoes are green.
My pants are blue."""

s

'Hello, my name is Gal.\nMy shoes are green.\nMy pants are blue.'

<br></br>

### String Slice & Stride

In [48]:
s_example = "Python Rules"
s_example[0]

'P'

In [49]:
s_example = "Python Rules"
s_example[2]

't'

In [50]:
s_example[0:4]

'Pyth'

In [51]:
s_example[:4]

'Pyth'

In [52]:
s_example[1:4]

'yth'

In [53]:
s_example[-1]

's'

In [54]:
s_example[1:-1]

'ython Rule'

In [57]:
s_example[1:]

'ython Rules'

In [58]:
s_example[-5:-1]

'Rule'

In [59]:
s_example[-5:]

'Rules'

 <br>
 We can also  input a <u><b>stride</b></u> value as follows, with the '2' indicating that we are selecting every second variable:

In [60]:
# Get every second element. The elments on index 1, 3, 5 ...

s_example = "Python Rules"
s_example[::2]

'Pto ue'

<br>
We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [61]:
# Get every second element in the range from index 0 to index 4

s_example[0:5:2]

'Pto'

<br></br>

### Strings Operators

In [62]:
s_example

'Python Rules'

In [64]:
p = s_example[:6]
r = s_example[7:]

In [65]:
print(p)
print(r)

Python
Rules

In [66]:
p + r

'PythonRules'

In [67]:
p + ' ' + r

'Python Rules'

In [68]:
p * 2

'PythonPython'

<br></br>

### Strings Special Characters

<p style="font-size:20px">\n (new line)</p>

In [69]:
'Hello\nWorld'

'Hello\nWorld'

In [70]:
print('Hello\nWorld')

Hello
World

<p style="font-size:20px">\t (tab)</p>

In [71]:
'Hello\tWorld'

'Hello\tWorld'

In [72]:
print('Hello\tWorld')

Hello	World

<br></br>

### Strings Quotes and Backslash

In [73]:
#Error
print("He said, "Hello"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (888921169.py, line 2)

<br>
\"   Allows double quotes inside a double-quoted string

In [74]:
#   \"   Allows double quotes inside a double-quoted string

print("He said, \"Hello\"")

He said, "Hello"

<br>
\'   Allows single quotes inside a single-quoted string

In [75]:
#   \'   Allows single quotes inside a single-quoted string

print('It\'s a test')

It's a test

<br>
\\   Escapes a backslash so it can be included in a string.

In [76]:
print('C:\\Users\\Administrator.DC-VM\\Downloads')

C:\Users\Administrator.DC-VM\Downloads

In [77]:
#    \\   Escapes a backslash so it can be included in a string.

print("C:\\path\\to\\file")

C:\path\to\file

In [78]:
# That's not what we wanted !!!

print("C:\path\to\file")

C:\path	oile

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\itaig\AppData\Local\Temp\ipykernel_45244\4122587100.py:3: SyntaxWarning: invalid escape sequence '\p'
  print("C:\path\to\file")

<br>
If we want to show "\t" in the string --> add a "\"

In [79]:
# if we want to show "\t" in the string --> add a "\"
# That's not what we wanted !!!


print('\\t')

\t

In [80]:
# if we want to show "\t" in the string
# That's not what we wanted !!!

print('\t')

<br></br>

### Dynamic Strings

If we want to concatenate a strings with dynamic values we can use the following notation:

In [81]:
# we will add to a string another string and an integer. For the string we use %s, while for the integer we use %d
print("Hello, my name is %s. I'm %d years old" % ('David',26))

Hello, my name is David. I'm 26 years old

In [82]:
# Why %s for an int also worked ?  --> because we can convert an int into a string
print("Hello, my name is %s. I'm %s years old" % ('David',26))

Hello, my name is David. I'm 26 years old

In [ ]:
#Error
# Why %d for a string didn't work ?  --> because we can't convert a string into an int
print("Hello, my name is %d. I'm %d years old" % ('David',26))

In [83]:
# The values are implemented according to the order!!! (not by %s or %d)
print("Hello, my name is %s. I'm %s years old" % (26,'David'))

Hello, my name is 26. I'm David years old

In [87]:
# If you got a little bit confused, it's o.k
# We can alwas do the same thing as folows:
x = 'David'
y = 26

print("Hello, my name is " + x + " I'm " + str(y) +" years old")

Hello, my name is David I'm 26 years old

<br></br>

### String Literals

<br>
<p style="font-size:23px"><code>'f'</code> string literal</p>
Format strings to include variables and expressions directly in the string

In [85]:
# Using 'f' string literal
x = 'David'
y = 26

print(f"Hello, my name is {x} I'm {y} years old")

Hello, my name is David I'm 26 years old

In [88]:
# Using 'f' string literal
x = 'David'
y = 26

print(f"Hello, my name is {x + ' Cohen'} I'm {y + 4} years old")

Hello, my name is David Cohen I'm 30 years old

<br></br>
<p style="font-size:23px"><code>'r'</code> string literal</p>
Treats backslashes as literal characters, ignoring escape sequences. Useful for regular expressions and file paths

In [89]:
# Again! not what we wanted!!!

print("C:\path\to\file")

C:\path	oile

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\itaig\AppData\Local\Temp\ipykernel_45244\1608171579.py:3: SyntaxWarning: invalid escape sequence '\p'
  print("C:\path\to\file")

In [90]:
# Works!

print(r"C:\path\to\file")

C:\path\to\file

In [91]:
# Again! not what we wanted!!!
print('\t')

In [92]:
# Works!
print(r'\t')

\t

<br></br>

### Strings Formating

<p style="font-size:20px">Used to format numbers, especially floating-point numbers, into a specific representation</p>

In [93]:
f'the number pi = {3.1415926}'

'the number pi = 3.1415926'

<br>
<b><u>Round</u></b> Float to 2 Decimal Places

In [94]:
# Round Float to 2 Decimal Places
# Syntax: f'{num:.2f}'  -  for rounding to 2 decimal places.

    # {} marks a replacement field
    # : introduces a format specifier
    # .2 specify the precision as 2, or any other number
    # f to format the number as a decimal number
    
f'the number pi = {3.1415926:.2f}'

'the number pi = 3.14'

In [95]:
# Add Thousands Separator

f'Add Thousands Separator = {1234567.89:,}'

'Add Thousands Separator = 1,234,567.89'

In [98]:
# Round Float to 2 Decimal Places with Sign

f'Round Float to 2 Decimal Places with Sign = {3.1415926:+.2f}'

'Round Float to 2 Decimal Places with Sign = +3.14'

In [99]:
# Add Thousands Separator
# Round Float to 2 Decimal
# Adds the $ sign

f'{1234567.896868:,.2f}'

'1,234,567.90'

In [100]:
# Format as Percentage

f'Format as Percentage = {0.5146:.2%}'

'Format as Percentage = 51.46%'

<br></br>

### Strings Methods

In [101]:
s1 = 'string'
s1

'string'

In [102]:
type(s1)

str

In [103]:
s1.endswith('g')

True

In [104]:
s1.endswith('ng')

True

In [105]:
s1.endswith('x')

False

In [106]:
s1.startswith('s')

True

In [108]:
s1.upper()

'STRING'

In [107]:
s1.lower()

'string'

In [109]:
s1.replace('st','b')

'bring'

In [110]:
s2 = "   lot's of spaces   "
print(s2)

   lot's of spaces

In [111]:
print(s2.strip())

lot's of spaces

<br></br>

## `Int` Methods

In [112]:
a = 5
a

5

In [113]:
type(a)

int

<code>.bit_length()</code> method returns the number of bits required to represent an integer in binary, excluding the sign and leading zeros.

In [114]:
# The binary representation of 5 is 101
a.bit_length()

3

To convert the number 5 to binary:

- Divide 5 by 2, the quotient is 2, and the remainder is 1.
- Divide 2 by 2, the quotient is 1, and the remainder is 0.
- Divide 1 by 2, the quotient is 0, and the remainder is 1.

Reading the remainders from bottom to top gives us 101, which is the binary representation of the decimal number 5.

<br></br>

## `float` Methods

In [115]:
g1 = 4.5

In [116]:
type(g1)

float

In [117]:
g1.is_integer()

False

In [118]:
g2 = 8.0

In [119]:
type(g2)

float

In [120]:
g2.is_integer()

True

<br></br>

## `bool` Methods

In [121]:
t = True

In [ ]:
type(t)

In [122]:
t.bit_count()

1

The binary representation of `True` in Python is `0001`.
<br>
The method `.bit_count()` counts the number of ones (1)

<br></br>

## Reading from the Keyboard

In [1]:
n1 = input("Please enter first number: ")
n2 = input("Please enter second number: ")

Please enter first number:  7
Please enter second number:  8

In [2]:
n1

'7'

In [3]:
n2

'8'

In [4]:
type(n1)

str

In [5]:
type(n2)

str

In [6]:
n1 + n2

'78'

In [7]:
int(n1) + int(n2)

15

<br></br>

## NoneType

<br>
<p style="font-size:23px">Singleton Object</p>
<p style="font-size:20px"><code>None</code> is a singleton, meaning there is only one instance of it.
<br>This is why we use <code>is</code> to check for <code>None</code>.
<br>(e.g., <code>x is None</code>), not <code>==</code></p>

In [129]:
x = None

In [130]:
x

In [131]:
type(x)

NoneType

In [132]:
x is None

True

In [133]:
x == None

True

<p style="font-size:20px">both <code>x == None</code> and <code>x is None</code> will indeed evaluate to <code>True</code> when <code>x</code> is <code>None</code>.
<br>However, thereâs an important distinction in Python:</p>

- `x is None`: This checks if `x` and `None` refer to the exact same object (object identity). It's the recommended and more precise way to check for `None`.
- `x == None`: This checks if `x` is "equal" to `None` in terms of value (value equality), which might work here but is less precise, as some objects might define custom equality methods where `== None` could behave unexpectedly.

In [134]:
x is not None

False

<p style="font-size:20px"><code>print()</code> returns NoneType</p>

In [135]:
5

5

In [136]:
print(5)

5

In [137]:
a = 5
a + 10

15

In [138]:
# Error
b = print(5)
b + 10

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

<br>
<p style="font-size:20px"><code>print(5)</code> and <code>5</code> are not the same</p>
<br></br>

In [139]:
type('Hello world')

str

In [140]:
type(print('Hello world'))

Hello world

NoneType

<br>
<p style="font-size:20px"><code>'Hello world'</code> and <code>print('Hello world')</code> are not the same</p>