# Built-in Functions

## Questions

**Exercise 1**

Count the number of characters in the string 'itai grinshpan'.

In [ ]:
s = 'itai grinshpan'
print(len(s))

**Exercise 2**

Calculate the total of the numbers in the list [4, 8, 15, 16, 23, 42].

In [ ]:
lst = [4, 8, 15, 16, 23, 42]
print(sum(lst))

**Exercise 3**

From the list [12, 45, 7, 89, 34], find the largest and smallest numbers.

In [ ]:
lst = [12, 45, 7, 89, 34]
print(max(lst), min(lst))

**Exercise 4**

Given the list [9, 3, 7, 1, 5], create a new sorted list in ascending order without modifying the original list.

In [ ]:
lst = [9, 3, 7, 1, 5]
new_lst = sorted(lst)
print(new_lst)

**Exercise 5**

Convert the numbers -25, -3.5, and -100 into positive values.

In [ ]:
print(abs(-25), abs(-3.5), abs(-100))

**Exercise 6**

Round the number 3.1415926 to one decimal place.

In [ ]:
print(round(3.1415926, 1))

**Exercise 7**

Print each fruit from ['apple', 'banana', 'cherry'] together with its position number.

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for i, f in enumerate(fruits, 1):
    print(i, f)

**Exercise 8**

Combine the lists ['John', 'Emma', 'Liam'] and [25, 30, 22] into pairs of name and age.

In [ ]:
names = ['John', 'Emma', 'Liam']
ages = [25, 30, 22]
print(list(zip(names, ages)))

**Exercise 9**

From the list [2, 4, 6, 8], create a new list containing the square of each number.

In [ ]:
lst = [2, 4, 6, 8]
print([x**2 for x in lst])

**Exercise 10**

From the list [11, 18, 25, 42, 57, 60], create a new list containing only the even numbers.

In [ ]:
lst = [11, 18, 25, 42, 57, 60]
print([x for x in lst if x % 2 == 0])

**Exercise 11**

Check whether at least one value in [False, False, True, False] is True.

In [ ]:
lst = [False, False, True, False]
print(any(lst))

**Exercise 12**

Check whether all numbers in [5, 12, 8, 3] are greater than zero.

In [ ]:
lst = [5, 12, 8, 3]
print(all(x > 0 for x in lst))

**Exercise 13**

Convert the list [1, 2, 2, 3, 4, 4, 5] into a collection of unique values.

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]
print(set(lst))

**Exercise 14**

Determine the data type of the variable value = 3.75.

In [ ]:
value = 3.75
print(type(value))

**Exercise 15**

Generate numbers starting from 10 up to 50, increasing by 5 each time.

In [ ]:
print(list(range(10, 55, 5)))