# Data Structures

## Questions

**Exercise 1**

Create a list of 10 numbers and print the third element.

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lst[2])

**Exercise 2**

Add a new element to a list and remove the last element.

In [ ]:
lst = [1, 2, 3]
lst.append(4)
lst.pop()
print(lst)

**Exercise 3**

Reverse a list without using built-in reverse methods.

In [ ]:
lst = [1, 2, 3, 4, 5]
reversed_lst = lst[::-1]
print(reversed_lst)

**Exercise 4**

Create a tuple with five elements and access the last one.

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[-1])

**Exercise 5**

Convert a tuple into a list.

In [ ]:
t = (1, 2, 3)
lst = list(t)
print(lst)

**Exercise 6**

Create a dictionary with 3 key-value pairs and print all keys.

In [ ]:
d = {'a': 1, 'b': 2, 'c': 3}
print(d.keys())

**Exercise 7**

Add a new key-value pair to a dictionary.

In [ ]:
d = {'a': 1}
d['b'] = 2
print(d)

**Exercise 8**

Remove a key from a dictionary safely.

In [ ]:
d = {'a': 1, 'b': 2}
d.pop('b', None)
print(d)

**Exercise 9**

Count how many times a value appears in a list.

In [ ]:
lst = [1, 2, 2, 3, 2]
print(lst.count(2))

**Exercise 10**

Create a collection of unique values from a list with duplicates.

In [ ]:
lst = [1, 2, 2, 3, 3, 3]
unique = list(set(lst))
print(unique)

**Exercise 11**

Find the intersection between two collections of unique values.

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1 & s2)

**Exercise 12**

Merge two dictionaries into one.

In [ ]:
d1 = {'a': 1}
d2 = {'b': 2}
merged = {**d1, **d2}
print(merged)

**Exercise 13**

Sort a list of numbers in descending order.

In [ ]:
lst = [3, 1, 4, 1, 5]
print(sorted(lst, reverse=True))

**Exercise 14**

Create a nested dictionary and access a deeply nested value.

In [ ]:
d = {'a': {'b': {'c': 42}}}
print(d['a']['b']['c'])

**Exercise 15**

Flatten a list of lists into a single list.

In [ ]:
lst = [[1, 2], [3, 4], [5]]
flat = [x for sub in lst for x in sub]
print(flat)