# Variables & Data Types

## Questions

**Exercise 1**

Create three variables: an integer, a float, and a string. Print their types.

In [ ]:
a = 42
b = 3.14
c = 'hello'
print(type(a), type(b), type(c))

**Exercise 2**

Ask the user for their birth year and calculate their current age.

In [ ]:
birth_year = int(input('Enter your birth year: '))
age = 2025 - birth_year
print(f'You are {age} years old')

**Exercise 3**

Convert a float to an integer and display the result.

In [ ]:
x = 7.9
result = int(x)
print(result)

**Exercise 4**

Swap two variables without using a temporary variable.

In [ ]:
a, b = 5, 10
a, b = b, a
print(a, b)

**Exercise 5**

Given a number, print whether it is even or odd.

In [ ]:
n = int(input('Enter a number: '))
print('even' if n % 2 == 0 else 'odd')

**Exercise 6**

Concatenate two strings and print the result in uppercase.

In [ ]:
s1, s2 = 'hello', 'world'
print((s1 + ' ' + s2).upper())

**Exercise 7**

Extract the first and last character from a string.

In [ ]:
s = 'python'
print(s[0], s[-1])

**Exercise 8**

Convert the string '1234' into an integer and multiply it by 5.

In [ ]:
s = '1234'
result = int(s) * 5
print(result)

**Exercise 9**

Round the number 7.85634 to 2 decimal places.

In [ ]:
x = 7.85634
print(round(x, 2))

**Exercise 10**

Check the data type of the result of dividing 10 by 3.

In [ ]:
result = 10 / 3
print(type(result))

**Exercise 11**

Create a boolean variable based on whether a number is greater than 100.

In [ ]:
n = 150
is_large = n > 100
print(is_large)

**Exercise 12**

Convert a string to lowercase and replace spaces with underscores.

In [ ]:
s = 'Hello World'
print(s.lower().replace(' ', '_'))

**Exercise 13**

Calculate the area of a circle given its radius.

In [ ]:
import math
r = 5
area = math.pi * r ** 2
print(area)

**Exercise 14**

Format a float to display exactly 3 decimal digits.

In [ ]:
x = 3.14159
print(f'{x:.3f}')

**Exercise 15**

Create a multi-line string and print it.

In [ ]:
s = '''Line 1
Line 2
Line 3'''
print(s)